/* モバイル向けレイアウト */
@media all and (max-width: 900px) {

}

@media all and (max-width: 660px) {

  .menu-icon{
    display: none;
  }

  #ask{
    display: none;
  }

  .mobile{
    display: block;
  }

  .menu-icon{
    width: 100px;
    height: auto;
    margin-right: -20px;
    margin-top: -20px;
  }

  .main-waku{
    float: none;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  #main-text{
    float: none;
  }

  #main-text h1,h2{
    text-align: center;
  }

  #main-text h1{
    font-size: 13px;
  }

  #main-text h2{
    font-size: 12px;
  }

  .ph{
    width: 350px;
  }

  .img-box{
    margin: 0 10px;
  }

  .img-box p{
    font-size: 14px;
  }

  .slider-pro{
    float: none;
    padding-left: 0px;
  }

  .photo-left,.photo-right{
    display: none;
  }

  #access{
    height: 640px;
  }

  .map{
    display: none;
  }

  .map-min{
    display: block;
  }

  .access-text{
    text-align: center;
    width: 90%;
    font-size: 15px;
  }

}
