* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-color: #000;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

header{
  background-color: rgb(29, 30, 31);
  opacity: 0.9;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

#header-left{
  float: left;
}

.logo{
  width: 200px;
  height: 90px;
  margin-left: 10px;
}

#ask{
  float: right;
  background-color: rgb(11, 131, 242);
  padding: 0px 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 28px;
  opacity: 0.7;
}

#ask:hover{
  opacity: 1;
}

header a{
  color: #fff;
}

#menu{
  float: right;
}

#menu li{
  float: left;
}

.menu-icon{
  color: #fff;
  font-size: 25px;
  opacity: 0.6;
  margin-right: 20px;
}

.menu-icon:hover{
  opacity: 1;
  cursor: pointer;
}

.mobile{
  display: none;
}

#main{
  text-align: center;
}

#main-logo{
  margin-top: 130px;
}

#main-logo img{
  max-width: 100%;
}

.main-waku{
  float: right;
  margin-top: 40px;
  margin-bottom: 30px;
}

.main-waku img{
  width: 600px;
  height: 60px;
  max-width: 100%;
  opacity: 0.8;
}

#main-text{
  float: right;
}

#main-text h1,h2{
  color: #fff;
  font-weight: normal;
  text-align: left;
}

#main-text h1{
  font-size: 17px;
}

#main-text h2{
  font-size: 16px;
}


#main-chrge{
  float: right;
  margin-right: 87px;
}

#main-chrge img{
  max-width: 100%;
}

#concept{
  background-color: rgb(34, 34, 34);
}

.border{
  color: #fff;
  font-size: 30px;
  padding-left: 20px;
  background-color: rgb(90, 91, 93);
  margin-bottom: 20px;
}

.img-box{
  text-align: center;
  margin: 0 100px;
}

.img-box p{
  color: #fff;
  margin-top: -75px;
  font-size: 15px;
  border: #fff solid 1px;
  padding-top: 90px;
  padding-bottom: 30px;
  border-radius: 15px;
  background-color: rgb(51, 52, 54);
}

.img-box span{
  border-bottom: rgb(13, 54, 231, 0.7) solid 7px;
  font-weight: bold;
}

.ph{
  margin-top: 10px;
  width: 450px;
  height: auto;
}

.clear{
  clear: both;
}

#photo{
  height: 550px;
}

.container-min {
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
}

.slider-pro{
  padding-top: 30px;
  padding-left: 15px;
  float: left;
}

.photo-left{
  float: left;
}

.photo-left img{
  height: 420px;
  width: auto;
}

.photo-right{
  float: right;
}

.photo-right img{
  height: 420px;
  width: auto;
}

#access{
    background-color: rgb(34, 34, 34);
    height: 800px;
}

.map{
  text-align: center;
}

.map-min{
  text-align: center;
  display: none;
}

.map-mobile{
  max-width: 100%;
}

.access-text{
  margin: 0 auto;
  width: 660px;
  color: #fff;
  border: #fff solid 2px;
  border-radius: 15px;
  background-color: rgb(51, 52, 54);
  margin-top: 10px;
  padding: 10px;
}

.access-text span{
  border-bottom: rgb(13, 54, 231, 0.7) solid 7px;
  font-weight: bold;
}

footer{
  background-color: rgb(53, 56, 56);
  height: 130px;
  text-align: center;
}

.footer-logo{
  padding-top: 10px;
}

.footer-logo img{
  width: 45px;
  height: 45px;
}

.footer-text{
  padding-top: 10px;
  font-size: 12px;
  color: #fff;
}
